html,
body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #000;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container__character {
	position: relative;
	display: inline-block;
}

.container__character + .container__character {
	margin-left: 9px;
}

.container__point {
	position: absolute;
	width: 600px;
	height: 1px;
	background: #fff;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	opacity: 0.35;
	transform-origin: 0 0;
}
