html,
body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #000;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.container__point {
	position: absolute;
	left: 50%;
	width: 400px;
	height: 1px;
	background: #fff;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	opacity: 0.2;
	transform-origin: 0 0;
}

.container__point:nth-child(1) { top: 47% }
.container__point:nth-child(2) { top: 48% }
.container__point:nth-child(3) { top: 49% }
.container__point:nth-child(4) { top: 50% }
.container__point:nth-child(5) { top: 51% }
.container__point:nth-child(6) { top: 52% }
.container__point:nth-child(7) { top: 53% }
